body{
    background-color: rgb(36, 36, 36);
    font-family: 'Alkatra', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.carousel-item > img{
    height: 600px;
    width: auto;
    object-fit: cover;
}

.navbar-brand{
    font-weight: 900;
}